[submodule "ext-libs/rapidcheck"]
	path = ext-libs/rapidcheck
	url = https://github.com/wuerges/rapidcheck.git
[submodule "ext-libs/contest_page"]
	path = ext-libs/contest_page
	url = https://github.com/wuerges/iccad2018b_contest_page.git
[submodule "ext-libs/cad_geometry"]
	path = ext-libs/cad_geometry
	url = git@github.com:wuerges/cad_geometry.git
